
</div>
<a class="btn" href="#"><i class="ion-ios-arrow-down"></i></a>

<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Neeraj Saini</p>
  </div>
</div>
</body>
</html>
